@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* :root {
    --primary: #D4EBF8;
    --secondary: #1F509A;
    --ternary: #0A3981;
    --accent: #E38E49;
} */

:root {
    --primary: #0A3981;
    --secondary: #1F509A;
    --ternary: #D4EBF8;
    --accent: #E38E49;
}

body {
    font-family: "Inter", serif;
}

.logo img {
    max-width: 200px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.menu>.menu-item {}

.menu>.menu-item>a {
    display: inline-block;
    padding: 20px 20px;
}

.hero {
    height: 660px;
    overflow: hidden;
    position: relative;
    background: black;
}

.hero video {
    width: 100%;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    color: white;
    padding-top: 80px;
}

.hero-content h1 {
    font-size: 80px;
    font-weight: bolder;
}

.hero-content {
    max-width: 50%;
}

.btn-theme {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    color: white;
    padding: 20px 30px;
    border-radius: 50px;
    border-width: 2px;
}

.btn-theme:hover {
    background-color: var(--secondary) !important;
    border-color: white !important;
}

.text-italic {
    font-style: italic;
}

.section {
    padding: 60px 0;
}

.p {
    font-size: 18px;
}

.btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.btn-primary:hover {
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
}

.btn {
    border-radius: 40px;
}

.btn-lg {
    font-size: 16px;
    padding: 12px 24px;
}

.about-section-images {
    position: relative;
}

.about-section-images img {
    border-radius: 14px;
    position: absolute;
}

.about-section-images img:nth-child(1) {
    height: 450px;
    left: 200px;

}

.about-section-images img:nth-child(2) {
    left: 0;
    top: 150px;
    height: 450px;
    z-index: 1;
}

.about-section-images img:nth-child(3) {
    right: 50px;
    top: 300px;
    height: 450px;
}

.about-section {
    /* background-image: url('../images/bg.jpg'); */
    padding-bottom: 210px;
}

.why-choose-us {
    background-color: var(--primary);
    color: white;
}

.xtrf>div:nth-child(1) {
    flex: 3;
    text-align: left;
}

.xtrf>div:nth-child(1) button {
    text-align: left;
}

#v-pills-tab .nav-link {
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#v-pills-tab .nav-link.active {
    background-color: white;
    color: black;
}

#v-pills-tab .nav-link.active i.fa::before {
    content: "\f061";
}

.xtrf>div:nth-child(2) {
    flex: 9;
    padding-left: 40px;
}

.xtrf>div:nth-child(2) img {
    height: 250px;
    float: right;
    clear: right;
}

.bg-ternary {
    background-color: var(--accent) !important;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.services-section {
    
}
.why-choose-us{
    background-image: url('../images/bgw.webp');
    background-repeat: no-repeat;
    background-position: -100px bottom;
    background-size: 450px;
}
.service-item {
    /* background-image: url('../images/blue-bg.jpg'); */
    background-image: url('../images/services-1.webp');
    background-size: cover;
    padding: 48px 32px;
    text-align: center;
    display: block;
    text-decoration: none;
    transition: 500ms;
    color: black;
}

.service-item img {
    /* filter: invert(1); */
    width: 60px;
    margin-bottom: 16px;
}

.service-item h4 {
    font-weight: bolder;
}

.service-item p {
    font-size: 14px;
    margin-bottom: 0;
}

.text-primary {
    color: var(--primary) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.text-ternary {
    color: var(--accent) !important;
}

.service-item:hover {
    background-position: -80px;
}

.problem-solved {
    background-image: url('../images/bg-3.jpg');
    background-size: cover;
    background-position: right bottom;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.xrrr {
    border-left: 10px solid var(--primary);
    border-bottom: 10px solid var(--primary);
}
footer{
    padding: 60px 0;
    background-color: var(--primary);
    color: white;
}
.links a{
    font-size: 14px !important;
    font-weight: 400;
    margin-bottom: 2px;
    display: inline-block;
}
.fs-small{
    font-size: 14px !important;
    font-weight: 300;
}
.footer-social{
    display: flex;
    margin-top: 30px;
}
.footer-social a{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: black;
}
.footer-contact{
    font-size: 14px;
}
.footer-contact p:nth-child(1){
    margin-bottom: 10px;
}
.footer-contact p{
    margin-bottom: 0;
}
.footer-contact p a{
    text-decoration: none;
    display: inline-block;
    margin-left: 4px;
    color:white;
}
.footer-contact p a i{
    display: inline-block;
    margin-right: 8px;
}
.form-control{
    box-shadow:none  !important;
}
.form-control:focus{
    border-color: var(--ternary);
}
.form-control-lg{
    font-size: 15px;
    
}
.form-floating label,.form-control::placeholder{
    color: #888;
}
.contact{
    padding: 80px 0;
}
.home-contact{
    display: inline-block;
  
}
.home-contact a{
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #4caf50;
    padding: 14px 20px;
    border-radius: 4px;
    color: #4caf50;
    transition: 300ms;
}
.home-contact a:hover{
    background: #4caf50;
    color: white;
}
.home-contact img{
    width: 20px;
}
.services-section h4{
    text-transform:uppercase;
}
.xgr-item{
    display: grid;
    grid-template-columns: 6fr 10fr;
    background-color: var(--primary);
    color: white;
    border-radius: 4px;
    height: 100%;
    overflow: hidden;
}
.xgr-item img{
   
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.xgr-item .content{
  padding: 30px;
}
.xgr-item .content p{
        margin-bottom: 5px;
        font-size: 15px;
}
.xgr-item .content p:last-child{
    margin-bottom: 0;
}
.xgr-item .content h4{
    font-weight: bold;
    font-size: 20px;
}

.content hr{
    width: 30%;
}
.xgr-item .content strong{
    display: block;
    font-size: 18px;
    color: var(--accent);
    text-transform: uppercase;
}
.dropdown:hover .dropdown-menux{
    display: block;
}
.dropdown-menux{
    position: absolute;
    width: 250px;
    background-color: white;
    z-index: 9999;
    display: none;
    padding-top: 20px;
    padding-bottom: 10px;
}
.dropdown-menux a{
    display: block;
    padding: 10px 20px;
    
    text-decoration: none;
    color: black;
}
.dropdown-menux a:hover{
    color: var(--primary);
}
.menu-item > a{

}
.menu-item > a:hover{
    color: var(--primary);
}